.stage img {
	position: relative;
	width: 100%;
	z-index: 0;
}

.player img {
	position: absolute;
	left: 150px;
	bottom: 150px;
	z-index: 1;
}

.enemy img {
	position: absolute;
	right: 150px;
	top: 150px;
	z-index: 1;
}